@import "variables";

input {
  &[type="submit"] {
    background: $primary;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: darken($primary, 7%);
    }
    &:focus {
      background: darken($primary, 7%);
    }
    &:disabled {
      background: $grey;
    }
  }
}

label {
  font-size: 12px;
  color: $primary;
}

.manager {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $grey;
  box-sizing: border-box;
  outline: none;
  cursor: default;
}

.alert-section {
  position: fixed;
  width: 30%;
  top: 20px;
  right: 20px;
}
